@import "../../styles/variables.css";

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 35px 0;
    background-color: var(--dark-color);
}

.header__link {
    font-size: 1.5em;
    text-decoration: none;
    color: var(--link-color);
}